*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
2022-09-24-My-JavaScript.md
2022-10-07-Unit-1.4-Errors.md
2022-10-07-API.md
2022-11-29-Unit-3-Sections-3-and-4.md
2022-12-01-Unit-3-Sections-5-and-7.md
2022-12-01-Unit-3-Sections-5-and-7.md
2022-12-01-Unit-3-Sections-5-and-7.md
2022-12-05-Unit-3-Sections-8-to-10.md
2022-12-08-Unit-3-Sections-12-and-13.md
2022-12-12-Master-Unit-3-Sections-14-15.md
2022-12-12-Unit-3-Section-15.md
2022-12-12-Unit-3-Sections-14-and-15-HW.md
2022-12-12-Unit-3-Sections-14.md
2022-12-13-Unit-3-Section-16.md
2022-12-14-Unit-3-Sections-17-and-18.md
2023-01-10-PBL-model.md